In [1]:
import pandas as pd
import datetime

In [33]:
temperature_dataframe = pd.read_csv('smhi-opendata_1_97200_20220516_091247.csv', sep=';')
air_dataframe = pd.read_csv('smhi-opendata_9_97200_20220516_092137.csv', sep=';')
humidity_dataframe = pd.read_csv('smhi-opendata_6_97200_20220516_092330.csv', sep=';')

In [34]:
temperature_dataframe.head()

                  Date  Temperature Unit
0  2022-01-06 01:00:00         -4.8    G
1  2022-01-06 02:00:00         -4.9    G
2  2022-01-06 03:00:00         -5.0    G
3  2022-01-06 04:00:00         -5.8    G
4  2022-01-06 05:00:00         -7.1    G

In [35]:
# Remove the column unit
temperature_dataframe.drop(columns=['Unit'], inplace=True)
air_dataframe.drop(columns=['Unit'], inplace=True)
humidity_dataframe.drop(columns=['Unit'], inplace=True)

In [36]:
temperature_dataframe.head()

                  Date  Temperature
0  2022-01-06 01:00:00         -4.8
1  2022-01-06 02:00:00         -4.9
2  2022-01-06 03:00:00         -5.0
3  2022-01-06 04:00:00         -5.8
4  2022-01-06 05:00:00         -7.1

In [38]:
# Combine the three dataframes on the same date
combined_dataframe = pd.merge(temperature_dataframe, air_dataframe, on='Date')
combined_dataframe = pd.merge(combined_dataframe, humidity_dataframe, on='Date')

In [41]:
combined_dataframe.head()

                  Date  Temperature  Air Pressure  Humidity
0  2022-01-06 01:00:00         -4.8         997.7        83
1  2022-01-06 02:00:00         -4.9         998.8        81
2  2022-01-06 03:00:00         -5.0         999.4        78
3  2022-01-06 04:00:00         -5.8        1000.7        77
4  2022-01-06 05:00:00         -7.1        1001.5        77

In [42]:
full_dataframe = pd.read_csv('..\Data\Processed Data\smhi_data.csv')

In [ ]:
# Add all dates from the combined_dataframe that is bigger than 2022-02-01 05:00:00 to the full_dataframe
import datetime

date = datetime.datetime.strptime('2022-02-01 05:00:00', '%Y-%m-%d %H:%M:%S')

for index, row in combined_dataframe.iterrows():
    if row['Date'] > date:
        full_dataframe = full_dataframe.append(row)

In [46]:
full_dataframe.tail()

                    Date  Temperature  Air Pressure  Humidity
3097 2022-05-16 04:00:00          6.0        1021.1        57
3098 2022-05-16 05:00:00          6.8        1021.4        51
3099 2022-05-16 06:00:00          7.7        1021.6        49
3100 2022-05-16 07:00:00          8.1        1021.7        48
3101 2022-05-16 08:00:00          9.7        1021.9        46

In [ ]:
full_dataframe.to_csv('..\Data\Processed Data\smhi_data_test.csv', index=False)